.popup__container-submit {
    width: 358px;
    height: 50px;
    margin-top: 13px;
    padding: 0;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 2px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.popup__container-submit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .popup__container-submit {
        width: 238px;
        height: 46px;
        margin-top: 10px;
        font-size: 14px;
        line-height: 17px;
    }
}