.header__email {
  margin: 0;
  padding: 8px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .header__email {
    padding-top: 0;
    padding-bottom: 18px;
  }
}