.place__like-button {
    width: 22px;
    height: 19px;
    padding: 0;
    cursor: pointer;
    background-image: url(../../../images/icon_like-disabled.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    border: none;
    outline: none;
    transition: opacity 0.5s ease-in-out;
    flex-shrink: 0;
}

.place__like-button:hover {
    opacity: 0.5;
}

.place__like-button:active {
    background-image: url(../../../images/icon_like-active.svg);
    opacity: 1;
}